
textarea, input {
	width: 570px;
	resize: none;
}

textarea {
	height: 50px;
}

input {
	height: 20px;
}

.postps p {
	font-size: 13px;
	margin-top: 15px;
	margin-bottom: 2px;
}

h1 {
	font-size: 25px;
	vertical-align: top;
	color: #585858;
}

#postJobBtn {
	float: right;
	color: white;
	margin-top: 15px;
	font-size: 15px;
	text-align: center;
	background-color: #0077b5;
	padding: 5px;
	-moz-border-radius: 5px;
  	-webkit-border-radius: 7px;
	width: 150px;
}

#edit_post {
	width: 570px;
}