body {
	background: #e9e9e9 url(https://s1-s.licdn.com/scds/common/u/images/themes/katy/textures/texture_grain_200x200_v2.png);
	font-family: Helvetica,Arial,sans-serif;
	font-size: 62.5%;
	line-height: 1.2;
	color: #000;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	display: block;
	background-color: white;
}

form{
	margin-left: 10px;
	vertical-align: top;
}

/* HEADER */

#top-header {
	background-color: #3f3f3f;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #696969), color-stop(100%, #3f3f3f));
	background-image: -webkit-linear-gradient(top, #696969 0%,#3f3f3f 100%);
	background-image: -moz-linear-gradient(top, #696969 0%,#3f3f3f 100%);
	background-image: -o-linear-gradient(top, #696969 0%,#3f3f3f 100%);
	background-image: linear-gradient(top, #696969 0%,#3f3f3f 100%);
	height: 42px;
	z-index: 2;
	position: relative;
}

.header-wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 974px;
	position: relative;
}

.header-wrapper a {
	text-decoration: none;
	cursor: pointer;
	color: #D7D7D7;
}

.header-wrapper a:hover {
	color: #0077b5;
	text-decoration: none;	
}

#navigation {
	background-color: #1a1a1a;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1a1a1a), color-stop(100%, #303030));
	background-image: -webkit-linear-gradient(top, #1a1a1a 0%,#303030 100%);
	background-image: -moz-linear-gradient(top, #1a1a1a 0%,#303030 100%);
	background-image: -o-linear-gradient(top, #1a1a1a 0%,#303030 100%);
	background-image: linear-gradient(top, #1a1a1a 0%,#303030 100%);
	z-index: 1;
	height: 29px;
	position: relative;
}

#nav-links {
	margin: 0;
	padding-top: 9px;
 	list-style-position: inside;
}

.nav-item {
	font-size: 12px;
	display: inline;
	width: 100px;
	float: left;
}

#user-dock {
	float: right;
	width: auto;
	margin-top: 8px;
	font-size: 12px;
}

#user-dock a {
	margin-right: 10px;
}

#in-logo {
	text-indent: -119988px;
	overflow: hidden;
	text-align: left;
	margin-top: 3px;
	background: url('http://s.c.lnkd.licdn.com/scds/common/u/images/logos/logo_in_flat_43x34.png') left center no-repeat;
	display: block;
	height: 34px;
	width: 43px;
	float: left;
}

/* JOB CARD */

.title{
	font-size: 25px;
	vertical-align: top;
}

#jobCard{
	background-color: #fff;
	z-index: 1;
	border-radius: 5px;
	height: 150px;
	width: 550px;
	position: relative;
	padding: 10px;
	box-shadow: 3px 3px 5px #cdc9c9;
	margin-bottom: 15px;
}

#jobDescription{
	font-size: 13px;
	color: #686868;
}

#jobHeader a {
	color: #585858;
	text-decoration: none;
}
#jobHeader a:hover{
	color: #888888;
}

hr {
border: 0; border-top: 1px solid #ccc;
}

#companyLogo {
	margin-right: 10px;
}

#location, #date{
	color: grey;
	font-size: 10px;
}

#companyName {
	font-size: 12px;
	color: grey;
}

.year{
	position: absolute;
	color: grey;
	font-size: 12px;
	top: 8px;
	right: 10px;
}

#universities {
	position: absolute;
	left: 8px;
	bottom: 8px;
	font-size: 15px;
}

#applicants {
	position: absolute;
	right: 8px;
	bottom: 8px;
	font-size: 15px;
}

#jobActions {
	margin-top: 5px;
}

#jobActions > li {
	margin-bottom: 5px;
}

#apply {
	margin-top: 15px;
	position: absolute;
	bottom: 5px;
	right: 2px;
}

#deleteBtn, #editBtn, #deleteBtn {
	opacity: 0.5;
	cursor: pointer;
}

#saveBtn {
	opacity: 0.5;
}

#saveBtn:hover, #editBtn:hover, #deleteBtn:hover {
	opacity: 1;
	cursor: pointer;

}
/* CONTAINER */

#container {
	padding: 20px;
	margin-top: 16px;
	width: 934px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	font-size: 13px;
	overflow: auto;
	min-height:100%;
}

#container h2 {
	padding: 0;
	margin-top: 10px;
	font-size: 16px;
	color: #666;
}

#stream {
	display: inline-block;
	width: 615px;
    border-right: solid 1px #ccc;
    padding-right: 20px;
}

#sidebar {
	display: inline-block;
    float: right;
    width: 280px;
}

.sidebar-item {
	border-bottom: solid 1px #ccc;
	padding-bottom: 15px;
}

.sidebar-item input {
	float: left;
}

.sidebar-item span {
	float: left;
	width: 90px;
	padding-left: 5px;
}

.sidebar-item select {
	width: 160px;
}

#jobs {
	padding-top: 10px;
}

#saved-jobs {
	position
}

#saved-jobs .summary-block {
	padding-bottom: 8px;
}
.summary-title-block {
	display: inline-block;
	position: relative;
	width: 250px;
}

.summary-title-block .job-title {
	font-size: 14px;
}

.summary-title-block .company {
	font-size: 10px;
}

.summary-title-block-delete {
	position: absolute;
	right: 5px;
	top: 0px;
	float: right;
	background-position: 0 0;
}
