body {
	background: #e9e9e9 url(https://s1-s.licdn.com/scds/common/u/images/themes/katy/textures/texture_grain_200x200_v2.png);
	font-family: Helvetica,Arial,sans-serif;
	font-size: 62.5%;
	line-height: 1.2;
	color: #000;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

#toolbar {

}