{% extends 'dashboard.html' %}

{% block navlinks %}
    <li class="nav-item"><a href="/recruiter_profile">Home</a></li>
    <li class="nav-item"><a href="/editpost">Post Job</a></li>
    <li class="nav-item"><a href="/applicants">Job Applicants</a></li>
{% endblock %}

{% block jobcards %}
	<h2>STUDENTS WHO HAVE APPLIED TO YOUR JOBS:</h2>
   {% if students %}
        {% for student in students %}
        	<div class="studentapp">
            
            <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
            <script type="IN/MemberProfile" data-id="{{ student.public_profile_url }}" data-format="inline"></script>
            <a id="contactstudent" href="{{ url_for('contact_student') }}?sid={{ student.id }}">Contact</a>
            
        </div>
        {% endfor %}   
    {% endif %}
{% endblock %}

{% block notifications %}
	<ul>
	    <li>You have no notifications.</li>
	</ul>
{% endblock %}

{% block savedjobs %}
    <h2>POSTED JOBS</h2>
    <div class="summary-block">
        <!-- use company logo here -->
        <a href="http://www.linkedin.com"><img src="http://placehold.it/25x25"></a>
        <div class="summary-title-block">
            <p class="job-title">
                Software Engineer
            </p>
            <p class="company">
                Created on 7/12/13
            </p>
            <div class="summary-title-block-delete">
                <a href="/delete-saved"><img src="../static/resources/delete.png" width="15px" height="15px"></a>
            </div>
        </div>
    </div>
    <div class="summary-block">
        <!-- use company logo here -->
        <a href="http://www.linkedin.com"><img src="http://placehold.it/25x25"></a>
        <div class="summary-title-block">
            <p class="job-title">
                Test Engineer Intern
            </p>
            <p class="company">
                Created on 3/4/13
            </p>
            <div class="summary-title-block-delete">
                <a href="/delete-saved"><img src="../static/resources/delete.png" width="15px" height="15px"></a>
            </div>
        </div>
    </div>
{% endblock %}

