{% extends 'dashboard.html' %}

<!-- STREAM -->

{% block streamheader %}
	<!-- put school image here -->
	<img src="http://placehold.it/615x100">
{% endblock %}

{% block jobcards %}
    <h2>JOBS YOU HAVE POSTED:</h2>
	{% if jobs %}
		{% for job in jobs %}
		    <div class="jobPost">
		        <form style="display:inline-block; margin-right:10px;">
		            <ul id="jobActions">
		                <li><input type="checkbox" name="" value=""><br></li>
		                <li><a href=""><img id="deleteBtn" src="/static/resources/deleteBtn.png" width="15px" height="15px"></a></li>
		                <li><a href=""><img id="editBtn" src="/static/resources/edit.png" width="17px" height="17px"><a/></li>
		            </ul>
		        </form>
		        <div id="jobCard" style="display:inline-block">
		            <div>
		                <div id="jobHeader" style="display:inline-block">
		                    <span class="title" id="jobTitle">{{ job.job_title }}</span>
		                    <div id="locationAndDate">
		                        <span id="location">Mountain View, CA | </span>
		                        <span id="date"> Posted March 13th, 2013</span>
		                    </div>
		                </div>
		            </div>
		            <ul class="year">
		                  <li>{{ job.year }}</li>
		            </ul>
		            <hr>
		            <div id="jobDescription">
		                {{ job.job_description }}
		            </div>
		            <div id="jobOptions">
		            	<div id="jobExtInfo">
		            		<div id="universities" style="display:inline-block;">{{ job.university }}</div>
				        	<a href="" id="applicants" style="display:inline-block;">45 Applicants Applied</a>
		            	</div> 
		            </div>
		        </div>
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}

<!-- SIDEBAR -->

{% block notifications %}
	<ul>
	    <li>Here is a notification</li>
	    <li>More notification</li>
	</ul>
{% endblock %}

{% block filters %}
    <input type="checkbox"> <span>Job Function:</span>
    <select>
        <option value="jobfn0">Software Engineering</option>
        <option value="jobfn1">Marketing</option>
    </select>
    <br/>
    <input type="checkbox"> <span>University:</span>
    <select>
        <option value="ind0">University of Pennsylvania</option>
        <option value="ind1">Carnegie Mellon University</option>
    </select>
    <br/>
    <input type="checkbox"> <span>Year</span>
    <select>
        <option value="company0">Freshmen</option>
        <option value="company1">Sophomore</option>
    </select>
{% endblock %}

{% block savedjobs %}
    <div class="summary-block">
        <!-- use company logo here -->
        <a href="http://www.linkedin.com"><img src="http://placehold.it/25x25"></a>
        <div class="summary-title-block">
            <p class="job-title">
                Software Engineer
            </p>
            <p class="company">
                Created on 7/12/13
            </p>
            <div class="summary-title-block-delete">
                <a href="/delete-saved"><img src="../static/resources/delete.png" width="15px" height="15px"></a>
            </div>
        </div>
    </div>
    <div class="summary-block">
        <!-- use company logo here -->
        <a href="http://www.linkedin.com"><img src="http://placehold.it/25x25"></a>
        <div class="summary-title-block">
            <p class="job-title">
                Test Engineer Intern
            </p>
            <p class="company">
                Created on 3/4/13
            </p>
            <div class="summary-title-block-delete">
                <a href="/delete-saved"><img src="../static/resources/delete.png" width="15px" height="15px"></a>
            </div>
        </div>
    </div>
{% endblock %}