<!doctype html>
<html>
    <head>
            <script src="../static/js/jquery-1.10.2.js"></script>
            <link href="../static/css/reset.css" rel="stylesheet" type="text/css">
            <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="top-header">
            <a href="http://www.linkedin.com/" class="logo" id="in-logo">LinkedIn</a>
        </div>
        <div id="navigation"></div>
            <!-- add if for student/recruiter -->
            <a href="/index">Home</a>
            <a href="/postjob">Post Job</a>
            <a href="/saveddrafts">Saved Drafts</a>
        <div id="stream"></div>
        <div id="sidebar"></div>
    </body>
</html>