<div id="filters" class="sidebar-item">
    <h2>FILTERS</h2>
    <input type="checkbox"> <span>City:</span> 
    <select>
        <option value="city0">New York, NY</option>
        <option value="city1">San Francisco, CA</option>
    </select>
    <br/>
    <input type="checkbox"> <span>State:</span> 
    <select>
        <option value="state0">New York</option>
        <option value="state1">California</option>
    </select>
    <br/>
    <input type="checkbox"> <span>Job Function:</span>
    <select>
        <option value="jobfn0">Software Engineering</option>
        <option value="jobfn1">Marketing</option>
    </select>
    <br/>
    <input type="checkbox"> <span>Industry:</span>
    <select>
        <option value="ind0">Technology</option>
        <option value="ind1">Animation & Film</option>
    </select>
    <br/>
    <input type="checkbox"> <span>Company</span>
    <select>
        <option value="company0">LinkedIn</option>
        <option value="company1">Google</option>
    </select>
</div>