<!doctype html>
<html>
<head>

</head>
<body>
    <div>
        <form action="" method="post">
            <div>
                <h1>Company</h1>
                <input type="text" name="company">
                <p>Description</p>
                <textarea name="company_description"></textarea>
                <p>Industry</p>
                <input type="text" name="industry">
            </div>
            <div>
                <h1>Position</h1>
                <p>Job Title</p>
                <input type="text" name="job_title">
                <p>Experience</p>
                <input type="text" name="experience">
                <p>Employment Type</p>
                <input type="text" name="employment_type">
                <p>Job Description</p>
                <textarea name="job_description"></textarea>
                <p>Desired Skills</p>
                <textarea name="desired_skills"></textarea>
                <p>University</p>
                <input type="text" name="university">
                <p>Tags</p>
                <input type="text" name="tags">
                <p>Location</p>
                <input type="text" name="location">
                <p>Date</p>
                <input type="text" name="date">
                <p>Year</p>
                <select name='year'>
                    <option value='Sophmore'>Sophmore</option>
                    <option value='Junior'>Junior</option>
                    <option value='Senior'>Senior</option>
                    <option value='Master'>Master's</option>
                    <option value='Ph.D'>Ph.D</option>
                </select>
            </div>
            <input type="submit" value="submit">
        </form>
    </div>
</body>
</html>