<!Doctype html>
<head>

</head>
<body>
    <div>
        <form action="{{url_for('post-job')}}" method="post">
            <div>
                <h1>Company</h1>
                <input type="text" name="company">
                <p>Description</p>
                <textarea name="company_discription"></textarea>
                <p>Industry</p>
                <input type="text" name="industry">
            </div>
            <div>
                <h1>Position</h1>
                <p>Job Title</p>
                <input type="text" name="job_title">
                <p>Experience</p>
                <input type="text" name="Experience">
                <p>Employment Type</p>
                <input type="text" name="employment_type">
                <p>Job Description</p>
                <textarea name="job_description"></textarea>
                <p>Desired Skills</p>
                <textarea name="desired_skills"></textarea>
                <p>University</p>
                <input type="text" name="university">
            </div>
            
        </form>
    </div>
</body>
