<html>
<head>
    <title>Profile</title>
</head>
<body>
    <img src="{{ session.user.picture }}">
    <h3> Hi </h3>
    <a href="{{ url_for('logout') }}">Click here to logout</a>
    <p>This is your info:
        <ul>
        {% for key, value in session.user.iteritems() %}
            <li> {{ key }}: {{ value }} </li>
        {% endfor %}
        </ul>
    </p>
    {% if jobs %}
        {% for job in jobs %}
            {% for key, value in job.iteritems() %}
                <li> {{ key }}: {{ value }} </li>
            {% endfor %}
            <a href="{{ url_for('save_job') }}?userid={{ session.user.id }}&jobid={{ job.id }}">Click here to save this job</a>
            <a href="{{ url_for('apply_job') }}?userid={{ session.user.id }}&jobid={{ job.id }}">Click here to apply for job</a>
        {% endfor %}
    {% endif %}

    {% if saved %}
        <h3>Jobs you've saved/applied to:</h3>
        {% for job in saved %}
            {% for key, value in job.iteritems() %}
                <li> {{ key }}: {{ value }} </li>
            {% endfor %}
        {% endfor %}
    {% endif %}

</body>
</html>