{% extends 'dashboard-student.html' %}

<!-- STREAM -->
{% block streamheader %}
	<!-- put school image here -->
	<div id="school-img">
		<img src="/static/resources/UPenn-logo.png" height="100px">
	</div>
{% endblock %}

{% block jobcards %}
	<h2>JOBS POSTED TO YOUR UNIVERSITY:</h2>
	<div class="applycase">
		<a id="applySelected">Apply to Selected</a>
		<a id="applyAll">Apply to All</a>
	</div>
	{% if jobs %}
		{% for job in jobs %}
			<div class="jobPost">
			    <form class="jobPostForm" style="display:inline-block; margin-right:10px;">
			        <ul>
			            <li class="jobActions"><input type="checkbox" name="" value=""><br></li>
			            <li class="jobActions"><a href=""></a><img id="deleteBtn" src="../static/resources/deleteBtn.png" width="15px" height="15px"></li>
			            <li class="jobActions"><a id="star" href="{{ url_for('save_job') }}?userid={{ session.user.id }}&jobid={{ job.id }}"><a/><img id="saveBtn" src="/static/resources/favorite.png" width="15px" height="15px"></li>
			        </ul>
			    </form>
			    <div id="jobCard" style="display:inline-block">
			        <div>
			            <img id="companyLogo" src="http://placehold.it/60x60">
			            <div id="jobHeader" style="display:inline-block">
			                <div>
			                    <span id="companyName">{{ job.company }}</span>
			                </div>
			                <a class="job-title-link" href="/job?id={{ job.id }}"><span class="title" id="jobTitle">{{ job.job_title }}</span></a>
			                <div id="locationAndDate">
			                    <span id="location">{{ job.location }} | </span>
			                    <span id="date"> Deadline: {{ job.date }}</span>
			                </div>
			            </div>
			        </div>
			        <ul class="year">
			              <li>{{ job.year }}</li>
			        </ul>
			        <hr>
			        <div id="jobDescription">
			            {{ job.job_description }}
			        </div>
			        <div id="jobOptions">
			            <a id="apply" href="{{ url_for('apply_job') }}?userid={{ session.user.id }}&jobid={{ job.id }}"><img src="../static/resources/checkmark.png">Apply</a>
			        </div>
			    </div>
			</div>
		{% endfor %}
	{% else %}
		There are no jobs posted in your university.
	{% endif %}
{% endblock %}

<!-- SIDEBAR -->

{% block notifications %}
	<ul>
	    <li>You have no notifications</li>
	</ul>
{% endblock %}

{% block filters %}
    <input type="checkbox"> <span>City:</span> 
    <select>
        <option value="city0">New York, NY</option>
        <option value="city1">San Francisco, CA</option>
    </select>
    <br/>
    <input type="checkbox"> <span>State:</span> 
    <select>
        <option value="state0">New York</option>
        <option value="state1">California</option>
    </select>
    <br/>
    <input type="checkbox"> <span>Job Function:</span>
    <select>
        <option value="jobfn0">Software Engineering</option>
        <option value="jobfn1">Marketing</option>
    </select>
    <br/>
    <input type="checkbox"> <span>Industry:</span>
    <select>
        <option value="ind0">Technology</option>
        <option value="ind1">Animation & Film</option>
    </select>
    <br/>
    <input type="checkbox"> <span>Company</span>
    <select>
        <option value="company0">LinkedIn</option>
        <option value="company1">Google</option>
    </select>
{% endblock %}

{% block savedjobs %}
    {% if saved %}
            <h2>SAVED JOBS</h2>
        {% for job in saved %}
            <div class="summary-block">
                <!-- use company logo here -->
                <a href="http://www.linkedin.com"><img src="http://placehold.it/25x25"></a>
                <div class="summary-title-block">
                    <p class="job-title">
                        {{ job.job_title }}
                    </p>
                    <p class="company">
                        {{ job.company }}
                    </p>
                    <div class="summary-title-block-delete">
                        <a href="/delete-saved?jid={{ job.id }}"><img id="deleteBtn" src="../static/resources/delete.png" width="15px" height="15px"></a>
                    </div>
                </div>
            </div>
        {% endfor %}        
    {% endif %}

{% endblock %}